body {
    background-color: beige;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
}


ul {
    list-style: none;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: crimson;

}

.baner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alla-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rubrik-0 {
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.hem-body {
    color: olive;

}